.structure-five-pieces {
  background: #fff;
  padding: 100px;

  .col {
    float: left;
    width: 20%;

    &.r1 {
      padding-right: 40px;
    }
    &.r2 {
      padding: 0 30px 0 10px;
    }
    &.r3 {
      padding: 0 20px 0 20px;
    }
    &.r4 {
      padding: 0 10px 0 30px;
    }
    &.r5 {
      padding-left: 40px;
    }
  }
}