.structure-four-pieces {
  background: #fff;
  padding: 100px;

  .row {
    float: left;
    width: 25%;

    &.r1 {
      padding-right: 45px;
    }
    &.r2 {
      padding: 0 30px 0 15px;
    }
    &.r3 {
      padding: 0 15px 0 30px;
    }
    &.r4 {
      padding-left: 45px;
    }
  }
}