.structure-two-col-right-big {
  background: #fff;
  padding: 100px;

  .col {
    float: left;

    &.left {
      width: 35%;
      padding-right: 30px;
    }
    &.right {
      width: 65%;
      padding-left: 30px;
    }
  }
}