.structure-two-pieces {
  background: #fff;
  padding: 100px;

  .row {
    float: left;
    width: 50%;

    &.left {
      padding-right: 50px;
    }
    &.right {
      padding-left: 50px;
    }
  }
}