.structure-two-col-left-big {
  background: #fff;
  padding: 100px;

  .col {
    &.left {
      width: 65%;
    }
    &.right {
      width: 35%;
    }
  }
}
.wp-two-col {
  .col {
    float: left;

    &.left {
      width: 50%;
      padding-right: 30px;
    }
    &.right {
      width: 50%;
      padding-left: 30px;
    }
  }
}