#topbar #projectBar {
  display: inline-block;
  height: 35px;
  float: right;

  .pageSelect {
    display: inline-block;
    height: 35px;
    padding: 3px;
    padding-top: 5px;
    vertical-align: bottom;
  }
  .wp-mask .page {
    h3 {
      text-align: center;
      margin-bottom: 15px;
    }

    .prop {
      height: 25px;
      line-height: 25px;
      .prop-name, 
      .prop-value {
        display: inline-block;
        height: 25px;
        vertical-align: bottom;
      }

      .prop-name {
        width: 25%;
        font-size: 12px;
      }
      .prop-value {
        width: 75%;
      }
    }

    .opt {
      margin-top: 15px;
      height: 35px;
      .left {
        float: left;
        margin-right: 10px;
      }
      .right {
        float: right;
        margin-left: 10px;
      }
    }
  }
}

#topbar {
  .ant-select-dropdown {
    border-radius: 0;
    background: #3e3e3e;
    color: #fff;
    border-color: #646464;
  }
}