$topbarHeight: 35px;
$footerHeight: 20px;

#framework {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  #topbar,
  #workspace,
  #footer {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
  }

  #topbar {
    height: $topbarHeight;
    top: 0;
    background: #fff;
    box-shadow: 0 0 16px #bfbfbf;
    z-index: 999;
  }
  #workspace {
    height: calc(100% - #{$topbarHeight} - #{$footerHeight});
    top: $topbarHeight;
    background: #ececec;
  }
  #footer {
    height: $footerHeight;
    bottom: 0;
    background: #0078cf;
    box-shadow: 0 0 16px #585f63;
    z-index: 999;
  }
}