$topbarHeight: 50px;

#framework {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  #topbar,
  #workspace,
  #footer {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
  }

  #topbar {
    height: $topbarHeight;
    top: 0;
    z-index: 999;
  }
  #workspace {
    height: calc(100% - #{$topbarHeight});
    top: $topbarHeight;
  }
}