body#wp {

  .ant-input {
    background: #3e3e3e;
    color: #fff;
    border-color: #646464;
    &:focus {
      border-color: #42a5e8;
    }
  }
  .ant-input-wrapper {
    .ant-input-group-addon {
      background: #5d5d5d;
      color: #bfc0c0;
      border-color: #646464;
    }
  }
  .ant-radio-group {
    .ant-radio-button-wrapper {
      background: #3e3e3e;
      color: #646464;
      border-color: #646464;
      .iconfont.attribute {
        font-size: 12px;
      }
      &.ant-radio-button-wrapper-checked {
        box-shadow: none;
        background: #646464;
        color: #fff;
      }
    }
  }
  .ant-select-selection {
    border-radius: 0;
    background: #3e3e3e;
    color: #fff;
    border-color: #646464;
  }
  .ant-btn {
    background: #646464;
    color: #fff;
    border: none;
    &[disabled] {
      color: #747474;
    }
  }
  .ant-modal-content {
    color: #bfc0c0;
    border: solid 1px #646464;
    background: #3e3e3e;
    border-radius: 0px;
    .ant-modal-header {
      color: #fff;
      background: #646464;
      border-color: #646464;
      border-radius: 0;
    }
    .ant-modal-footer {
      border-color: #646464;
    }
  }
  .ant-tabs {
    .ant-tabs-bar {
      border-color: #646464;
      .ant-tabs-nav {
        .ant-tabs-tab.ant-tabs-tab-active {
          .ant-tabs-tab-inner {
            color: #fff;
          }
        }
      }
    }
  }
  .ant-input-number {
    border-color: #646464;
    background: #3e3e3e;
    .ant-input-number-input {
      background: #3e3e3e;
      color: #fff;
    }
    .ant-input-number-handler-wrap {
      background: #3e3e3e;
      border-color: #646464;
      color: #fff;
      a {
        border-color: #646464;

        &:hover {
          background: #646464;
        }
      }
    }
    &.ant-input-number-focused {
      border-color: #42a5e8;
    }
  }
}