.team-member-detail {
  .member-container {
    max-width: 1100px;
    margin: 0 auto;
    &>.row {
      margin-top: 80px;
      padding: 10px 0;
      .wp-icon {
        font-size: 18px;
        width: 18px;
        text-align: center;
      }
    }
  }
}
