#topbar {
  padding: 10px 0 5px 0;
  background: #000;
  .tool {
    display: inline-block;
    width: 35px;
    height: 35px;
    text-align: center;
    padding: 3px;
    position: relative;
    .iconfont {
      font-size: 19px;
      line-height: 29px;
      cursor: pointer;
      color: #676767;
      &:hover {
        // color: #333;
      }
      &.active {
        color: #42a5e8;
      }
    }
  }
}

@font-face {font-family: "topbar-iconfont";
  src: url('./../../assets/fonts/topbar-iconfont.woff') format('woff');
}

.iconfont.topbar {
  font-family:"topbar-iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  &.screen:before { content: "\e600"; }
  &.select-mode:before { content: "\e601"; }
  &.element-mode:before { content: "\e602"; }
  &.text:before { content: "\e603"; }
  &.paint-mode:before { content: "\e604"; }
  &.scaler:before { content: "\e605"; }
  &.addpage:before { content: "\e606"; }
  &.pagesetting:before { content: "\e607"; }
}
