.pe-piece {
  &.empty {
    &.header,
    &.footer {
      min-height: 150px;
    }
    &.body {
      min-height: 500px;
    }
  }
  
  .pe-pattern {
    position: relative;
    // 空白元素
    .pe-element.raw {
      height: 350px;
      background: #f3f3f3;
      text-align: center;
      &:after {
        content: 'Empty';
        line-height: 350px;
      }

      &.small {
        height: 150px;

        &:after {
          line-height: 150px
        }
      }
    }
  }
}
blockquote {
  padding: 0 1em;
  color: #777;
  border-left: 0.25em solid #ddd;
  margin: 1em 0;

  &.blockquote-right {
    border-left: none;
    border-right: 0.25em solid #ddd;
    text-align: right;
  }
}
img {
  max-width: 100%;
}