#page {
  .pe-piece {
    &.empty {
      &.header,
      &.footer {
        min-height: 150px;
      }
      &.body {
        min-height: 500px;
      }
    }
    
    .pe-pattern {
      position: relative;
      // 空白元素
      .pe-element.raw {
        height: 350px;
        background: #f3f3f3;
        text-align: center;
        &:after {
          content: 'Empty';
          line-height: 350px;
        }
        
        &.small {
          height: 150px;

          &:after {
            line-height: 150px
          }
        }
      }
    }
  }
  blockquote {
    padding: 0 1em;
    color: #777;
    border-left: 0.25em solid #ddd;
    margin: 1em 0;

    &.blockquote-right {
      border-left: none;
      border-right: 0.25em solid #ddd;
      text-align: right;
    }
  }
  img {
    max-width: 100%;
  }
  .icon-frame-round {
    margin: 0 auto;
    border: 2px solid transparent;
    border-radius: 50%;
    padding: 32px 30px 26px 30px;
    min-width: 80px;
    border: solid 1px #000;
  }
  .icon-frame-square {
    margin: 0 auto;
    border: 2px solid transparent;
    padding: 32px 30px 26px 30px;
    min-width: 80px;
    border: solid 1px #000;
  }
  .icon-frame-rounded {
    margin: 0 auto;
    border: 2px solid transparent;
    border-radius: 6px;
    padding: 32px 30px 26px 30px;
    min-width: 80px;
    border: solid 1px #000;
  }
  textarea {
    margin-bottom: 5px;
  }
}