#pieces {
  .piece {
    width: 100%;
    display: table;

    &.header,
    &.body {
      border-bottom: solid 1px #676767;
    }

    &.active {
      .empty {
        background: rgba(66, 165, 232, .5);
        color: #fff;
        &:hover {
          &:after {
            content: 'click to cancel add pattern';
          }
        }
      }
    }
    .empty {
      height: 100%;
      text-align: center;
      display: table-cell;
      vertical-align: middle;
      cursor: pointer;
      &:after {
        content: 'empty';
      }
      &:hover {
        &:after {
          content: 'click to add pattern';
          color: #fff;
        }
      }
    }
  }
}