#pieces {
  position: absolute;
  border: solid 1px #676767;
}

// 各状态

#workspace.mode-select #pieces {
  
}

#workspace.mode-element #pieces {
  border: none;

  .piece>.empty {
    display: none;
  }
}

#workspace.mode-paint #pieces {
  border: none;

  .piece>.empty {
    display: none;
  }
}