<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Web Painter</title>
  <!--icons-->
  <link rel="stylesheet" href="assets/fonts/icons/et-line/styles/et-line.min.css">
  <link rel="stylesheet" href="assets/fonts/icons/feather/styles/feather.min.css">
  <link rel="stylesheet" href="assets/fonts/icons/fontawesome/styles/fontawesome.min.css">
  <link rel="stylesheet" href="assets/fonts/icons/ionicons/styles/ionicons.min.css">
  <link rel="stylesheet" href="assets/fonts/icons/linecons/styles/linecons.min.css">
</head>
<body id="wp">
  <div id="container">
  </div>
</body>
</html>
