#canvas {
  overflow: scroll;
  .page-container {
    box-sizing: content-box;
    position: relative;
    .screen-border {
      position: absolute;
      border: solid 1px #676767;
      pointer-events: none;
    }
  }
}