.navigation-left-links-right-text {
  background: #fff;
  height: 80px;
  .nav {
    height: 100%;
    padding: 20px 40px;
    line-height: 40px;
    .title {
      float: right;
      font-size: 25px;
    }
    .links {
      float: left;
    }
    a:not(.btn) {
      display: inline-block;
      margin: 0 10px;
      color: #666;
      &:hover {
        color: #000;
      }
    }
  }
}