#scaler {
  display: inline-block;
  width: 105px;
  height: 35px;
  .iconfont {
    display: inline-block;
    height: 35px;
    font-size: 19px;
    line-height: 29px;
    cursor: pointer;
    color: #676767;
    width: 35px;
    text-align: center;
    padding: 3px;
  }
  .scaler-input {
    display: inline-block;
    height: 35px;
    vertical-align: bottom;
    padding: 3px 0;
    input {
      border: #444 solid 1px;
      background: transparent;
      padding: 3px;
      width: 45px;
      height: 29px;
      line-height: 29px;
      color: #fff;
      text-align: center;
      outline: none;
      &:focus {
        border-color: #42a5e8;
      }
    }
  }
  .scaler-percent {
    display: inline-block;
    height: 35px;
    vertical-align: bottom;
    padding: 3px;
    font-size: 19px;
    line-height: 29px;
  }
}