$attributesBarWidth: 350px;

#workspace {
  width: 100%;
  overflow: scroll;
  background: #1d2021;

  #attributesBar {
    position: fixed;
    width: $attributesBarWidth;
    right: 0;
  }
  #canvas {
    height: 100%;
    width: 100%;
  }
}