$attributesBarWidth: 260px;
$patternBarHeight: 225px;

#workspace {
  width: 100%;
  background: #1d2021;

  // 防止意料之外的显示
  #canvas,
  #attributesBar {
    opacity: 0;
  }

  &.mode-select,
  &.mode-element,
  &.mode-paint {
    #canvas,
    #attributesBar {
      opacity: 1;
    }
  }

  // 工作区设置
  #canvas,
  #attributesBar,
  #patternBar {
    position: absolute;
  }

  // 选择模式
  &.mode-select {
    #canvas {
      height: 100%;
      width: calc(100% - #{$attributesBarWidth});
      top: 0;
      left: 0;
    }
    #attributesBar {
      height: 100%;
      width: $attributesBarWidth;
      top: 0;
      right: 0;
    }
    #patternBar {
      height: 0;
      width: calc(100% - #{$attributesBarWidth});
      top: 0;
      left: 0;
    }
  }
  &.mode-select.exmode-pattern {
    #canvas {
      height: calc(100% - #{$patternBarHeight});
      width: calc(100% - #{$attributesBarWidth});
      top: $patternBarHeight;
      left: 0;
    }
    #attributesBar {
      height: 100%;
      width: $attributesBarWidth;
      top: 0;
      right: 0;
    }
    #patternBar {
      height: $patternBarHeight;
      width: calc(100% - #{$attributesBarWidth});
      top: 0;
      left: 0;
    }
  }

  // 元素模式
  &.mode-element {
    #canvas {
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
    }
    #attributesBar {
      height: 100%;
      width: 0;
      top: 0;
      right: 0;
    }
    #patternBar {
      height: 0;
      width: 100%;
      top: 0;
      left: 0;
    }
  }
}